<div
  class="flex justify-content-center align-items-center"
  style="height: 100vh; background-color: #eff3f8"
>
  <div
    class="col-11 sm:col-8 md:col-8 lg:col-4 xl:col-4 surface-card p-4 shadow-2 border-round"
  >
    <div class="border-400 border-top-2 mt-3 mb-3"></div>
    <div class="grid surface-card">
      <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <div
          class="flex gap-3 justify-content-center align-items-center sm:mt-2 md:mt-2 lg:mt-2 mb-0"
        >
          <img
            src="../../../../assets/layout/images/logo_rojo.svg"
            alt="Image"
            height="100"
            class="p-d-none p-d-md-inline"
          />
          <img
            src="../../../../assets/layout/images/nombre_rojo.svg"
            alt="Image"
            height="80"
          />
        </div>

        <div class="border-400 border-top-2 mt-4"></div>
      </div>
      <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <div style="display: flex; justify-content: center">
          <img
            src="../../../assets/layout/images/404.jpeg"
            alt=""
            style="width: auto; height: 12rem"
          />
        </div>
        <div class="text-center mt-5">
          <span class="text-900 text-md">Recurso no disponible, </span>
          <a
            class="font-italic text-md no-underline text-blue-600"
            (click)="redireccionar()"
            style="cursor: pointer"
          >
            ir a una página disponible
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
